name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - name: Build
        run: cargo build
      - name: Format
        run: |
          cargo fmt
          test -z "$(git status --porcelain)" || (echo 'Changes detected after running cargo fmt'; git status; git --no-pager diff; false)
      - name: Generate
        run: |
          cargo run -- manifests > manifests/crd.yml
          test -z "$(git status --porcelain)" || (echo 'Changes detected after generating manifests'; git status; git --no-pager diff; false)
      - name: Run tests
        run: cargo test
      # TODO: Add clippy step

  pack:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write
      # Allows pushing to the GitHub Container Registry
      packages: write

    steps:
      - uses: actions/checkout@v4
      - uses: depot/setup-action@v1
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: us-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.GAR_JSON_KEY }}
        if: github.event_name != 'pull_request'

      - run: |
          echo "LAST_COMMIT_SHA=$(git rev-parse HEAD)" >> $GITHUB_ENV

      - name: Build
        uses: depot/build-push-action@v1
        with:
          context: .
          project: gg0kz3d1l3
          platforms: linux/amd64,linux/arm64
          push: false
          tags: us-docker.pkg.dev/influxdb2-artifacts/tubernetes/sinker:${{ env.LAST_COMMIT_SHA }}
        if: github.event_name == 'pull_request'

      - name: Build & Push
        uses: depot/build-push-action@v1
        with:
          context: .
          project: gg0kz3d1l3
          platforms: linux/amd64,linux/arm64
          push: true
          tags: us-docker.pkg.dev/influxdb2-artifacts/tubernetes/sinker:${{ env.LAST_COMMIT_SHA }}
        if: github.event_name != 'pull_request'
  publish:
    runs-on: ubuntu-latest
    needs:
      - build
      - pack
    if: github.event_name == 'pull_request'
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: us-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.GAR_JSON_KEY }}
      - name: Install Dependencies
        run: |
          set -eo pipefail
          # Kustomize
          curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | sudo bash
          # FluxCD CLI
          curl -s https://fluxcd.io/install.sh | sudo bash
      - name: Update manifests image
        working-directory: ./manifests
        run: |
          kustomize edit set image us-docker.pkg.dev/influxdb2-artifacts/tubernetes/sinker=us-docker.pkg.dev/influxdb2-artifacts/tubernetes/sinker:${{ env.LAST_COMMIT_SHA }}
      - name: Publish OCI Bundle
        run: |
          kustomize build manifests/ | flux push artifact oci://us-docker.pkg.dev/influxdb2-artifacts/tubernetes/sinker-manifests:${{ env.LAST_COMMIT_SHA }}
